nb-card {
    // width: 550px; // Adjust the width as needed
    height: 650px; // Adjust the height as needed
    max-width: 550px; // Ensure it is responsive
    max-height: 90%; // Ensure it is responsive
    padding: 20px;
    border-radius: 8px;
    overflow: auto; // Ensure content is scrollable if it exceeds the height
    margin: 0px;
}

.form-control {
    background-color: #151A30;
    color: #E7ECF1;
}

.form-control:disabled {
    background-color: #151A30;;
    color: #E7ECF1;
}

label {
    color: #E7ECF1;
}

#address {
    height: 88px; /* Set the height */
}
