<div class="row h-100 align-items-center" id="chat-index-container">
    <div class="col ">
        <img class="chat-image" src="../../../../assets/images/chat-image.png" alt="">
        <h1 class="text-center">
            👋Hi Juan, Your Contacts are waiting!
        </h1>
        <h6 class="text-center fw-normal">Find your friends, family, or colleagues in just a tap. Begin your conversation journey now!</h6>
        <br>
        <button class="d-block mx-auto" nbButton hero status="primary" >
            <nb-icon icon="edit"></nb-icon>
            Write New Message
        </button>
        <app-chatlist-toggle />
    </div>
</div>
