
<nb-layout>
    <nb-layout-column>
        <div class="container">
            <img src="../../../../assets/images/email-verified-graphics.png"  />
            <h4 class="text-center title">Congratulations your Email has been Verified</h4>
            <p class="text-center description">Your email verification is complete! Enjoy the full chat page experience: start conversations, meet new friends, and join the community fun.</p>
            <button class="mx-auto d-block" nbButton status="primary" (click)="gotoChats()">Start Chatting Now!</button>
        </div>
    </nb-layout-column>
</nb-layout>