@use "../../../../themes.scss" as *;


#reset-password-con{
    display: flex;
    form {
        width: 100%;
        align-self : center;
        nb-card{
            max-width: 500px;
            margin: 0rem auto;
        }
        input{
            border-color: nb-theme(color-basic-700) !important;
            &:focus{
                transition: .4s;
                border-color: nb-theme(color-basic-600) !important;
            }
        }
    }
}