<nb-layout>
    <nb-layout-column id="reset-password-con">
        <form [formGroup]="changePasswordForm" (submit)="changePasswordForm_Submit()">
            <nb-card>
                <nb-card-header>
                    Reset Password
                </nb-card-header>
                <nb-card-body>
                    <div class="mb-3">
                        <label for="">New Password</label>
                        <nb-form-field >
                            <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" name="password" formControlName="password"  nbInput fullWidth />
                            <button type="button" nbSuffix  nbButton ghost class="d-block me-0 ms-auto" (click)="toggleShowPassword()">
                                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>

                    <div class="mb-3">
                        <label for="">Re-Enter New Password</label>
                        <nb-form-field >
                            <input id="password-confirmation" [type]="showPasswordConfirmation ? 'text' : 'password'" placeholder="Retype the Password" name="passwordConfirmation" formControlName="passwordConfirmation" nbInput fullWidth />
                            <button type="button" nbSuffix  nbButton ghost class="d-block me-0 ms-auto" (click)="toggleShowPasswordConfirmation()">
                                <nb-icon [icon]="showPasswordConfirmation ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton [nbSpinner]="loading" class="d-block me-0 ms-auto" [disabled]="changePasswordForm.invalid" status="primary" fullWidth>
                        <nb-icon icon="save"></nb-icon>
                        Save Password
                    </button>
                </nb-card-footer>
            </nb-card>
        </form>
    </nb-layout-column>
</nb-layout> 
