<nb-layout>
    <nb-layout-column>
        <app-brand-name />
        <nb-card status="basic" >
            <nb-card-header>
                <nb-icon icon="person"></nb-icon>
                Sign In
            </nb-card-header>

            <nb-card-body>
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Username or Email Address <span class="text-danger">*</span></label>
                        <input nbInput fullWidth status="basic" shape="semi-round" class="form-control" id="username" formControlName="username" placeholder="'johndoe' or 'john@doe.com'" spellcheck="false">
                        <span *ngIf="validateControl('username') && hasError('username', 'required')" class="form-text text-danger">Username is required.</span>
                        <span *ngIf="validateControl('username') && hasError('username', 'maxlength')" class="form-text text-danger">Maximum length of 100 characters is exceeded.</span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-2">Password <span class="text-danger">*</span></label>
                        <nb-form-field>
                            <input nbInput fullWidth status="basic" shape="semi-round" class="form-control" [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" placeholder="" spellcheck="false">
                            <button type="button" nbSuffix  nbButton ghost class="d-block me-0 ms-auto" (click)="toggleShowPassword()">
                                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </button>
                        </nb-form-field>
                        <span *ngIf="validateControl('password') && hasError('password', 'required')" class="form-text text-danger">Password is required.</span>
                    </div>

                    <button nbButton ghost size="small" (click)="showResetPassword()" >
                        <nb-icon icon="question-mark-circle"></nb-icon>
                        Reset Password
                    </button>
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
                </form>
            </nb-card-body>

            <nb-card-footer>
                <button (click)="onSubmit()" nbButton hero shape="semi-round" class="d-block me-0 ms-auto" status="primary" fullWidth id="signin_btn">
                    <nb-icon icon="log-in"></nb-icon>
                    Sign In
                </button>
                <br>
                <button (click)="gotoSignUp()" nbButton hero shape="semi-round" class="d-block me-0 ms-auto" status="basic" outline fullWidth>
                    <nb-icon icon="person-add"></nb-icon> 
                    Sign Up
                </button>
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>

