<nb-chat #chatContainer>
    <div *nbCustomMessage="'app-message'; let message;noStyles:true" class="app-custom-message">
        <div [class]="currentUserId == message.sender?.userId ? 'content reply' : 'content'">
            <div class="message-con">
                <div class="message-text">
                    {{message.content}}
                </div>
                <div class="buttons" *ngIf="currentUserId == message.sender?.userId">
                    <button nbButton size="tiny" ghost status="danger" (click)="confirmDeleteMessage(message)">
                        Delete
                    </button>
                    <button nbButton size="tiny" ghost (click)="showUpdateMessageComponent(message)">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>


    <nb-chat-message *ngFor="let message of messages"
        type="app-message"
        [customMessageData]="message"
        [reply]="this.currentUserId === message.sender?.userId"
        [sender]="message.sender.displayName"
        [date]="message.dateSent"
        [avatar]="message.sender.displayPictureUrl">
    </nb-chat-message>
</nb-chat>

<ng-template #deleteMessageTemplate>
    <app-confirmation-dialog 
    status="danger" 
    message="Are you sure you want to delete this message?" 
    title="Delete Message"
    (onCancel)="deleteDialogRef.close()"
    (onContinue)="deleteMessage(selectedMessage!)" />
</ng-template>


<app-update-message-form 
    #updateMessageComponent 
    [message]="selectedMessage" 
    (onUpdate)="onMessageUpdate($event)"/>