<nb-layout>
    <nb-layout-column id="reset-password-con">
        <form [formGroup]="resetForm" (submit)="resetForm_Submit()">
            <nb-card>
                <nb-card-header>
                    Reset Password
                </nb-card-header>
                <nb-card-body>
                    <div class="mb-3">
                        <label for="email" class="mb-2">Enter the registered Email <span class="text-danger">*</span></label>
                        <input id="email" placeholder="Enter Email Address" name="email" formControlName="email" nbInput fullWidth required email />
                        <ul>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('required')">Email is required.</li>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('email')">Email is not valid.</li>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('maxlength')">Max number of characters for Email is 100.</li>
                            <li class="text-danger"*ngIf="email?.touched && email?.hasError('notRegistered')">Email not registered.</li>
                        </ul>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton  class="d-block me-0 ms-auto" status="primary" fullWidth  [disabled]="resetForm.invalid" [nbSpinner]="loading" >
                        Send Reset Link
                    </button>
                </nb-card-footer>
            </nb-card>
        </form>
    </nb-layout-column>
</nb-layout> 
