<div class="h-100">
    <!-- <nb-layout-header>
        <nb-actions size="medium">
            <nb-action>
              <app-chatlist-toggle />
            </nb-action>
        </nb-actions>
        <h6>
            Lorem Ipsum
        </h6>
    </nb-layout-header> -->
    <div class="chat-header">
        <app-chatlist-toggle></app-chatlist-toggle>
        <button nbButton ghost shape="semi-round">
            <nb-icon icon="settings"></nb-icon>
        </button>
    </div>
    <div class=" align-items-center" id="chat-view-container">
        <nb-chat title="Chat Name">
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, accusantium."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur."
                   reply="true"
                   sender="Sender Names">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, accusantium."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur."
                   reply="true"
                   sender="Sender Names">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, accusantium."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur."
                   reply="true"
                   sender="Sender Names">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, accusantium."
                   reply="false"
                   sender="Sender Name">
            </nb-chat-message>
            <nb-chat-message 
                   type="text"
                   message="Lorem ipsum dolor sit amet consectetur."
                   reply="true"
                   sender="Sender Names">
            </nb-chat-message>
        </nb-chat>

        <nb-chat-form ></nb-chat-form>
    </div>
</div>
