<div id="chat-convo" class="h-100">
    <div class="chat-header">
       <app-chatlist-toggle ></app-chatlist-toggle>
       <button nbButton ghost shape="semi-round" nbPopoverPlacement="bottom" nbPopover="Chat Settings" nbPopoverTrigger="hint" >
              <nb-icon icon="settings"></nb-icon>
       </button>
       <span class="fw-bold">Display Name</span>
    </div>
    <div class=" align-items-center" id="chat-view-container">
       <app-message-list [currentUserId]="this.currentUserId" [chatId]="this.chatId"></app-message-list>
       <nb-chat-form ></nb-chat-form>
    </div>
</div>