@use "../../../../themes.scss" as *;

#chat-convo{
    background-color: nb-theme(background-basic-color-4);
    #chat-view-container{
        max-width:  800px;
        margin: 0rem auto;
        z-index: 2;
        height: calc(100% - 76px - 50px);
        .chat-image{
            max-width: 200px;
            display: block;
            margin: 0rem auto;
            -webkit-filter: drop-shadow(5px 5px 5px #000000);
            filter: drop-shadow(5px 5px 5px #000000);
        }
    
        app-chatlist-toggle{
            position: fixed;
            top: 1rem;
        }
    
        nb-chat-form{
            input {
                background-color: nb-theme(background-basic-color-4) !important;
            }
        }
    }
    
    .chat-header{
        background-color: nb-theme(background-basic-color-4);
        margin-bottom: 2px;
        padding: 5px;
        border-bottom: 1px solid nb-theme(color-basic-800) ;
    }
}

