<div id="chat-convo" class="h-100">
    <div class="chat-header">

       <app-chatlist-toggle ></app-chatlist-toggle>

       
       <span class="fw-bold">
              <app-avatar [src]="profileImageSrc" *ngIf="profileImageSrc" ></app-avatar>
              {{ chat?.chatTypeId === 1 ? (members && members.length > 0 ? this.receiverName : 'Loading...') : (chat ? chat.chatName : "Loading...") }}
       </span>

       <app-chat-settings [chat]="chat!" [members]="members!"  />
       
    </div>
    <div class=" align-items-center" id="chat-view-container">

      <ng-container *ngIf="isInitialized">
         <app-message-list (messageListUpdated)="onMessageListUpdated($event)" (componentReady)="initializeMessageListComponent()" [currentUserId]="userId" [chatId]="chatId!" #messageList></app-message-list>
      </ng-container>
      
      
      <div class="typing-indicator" *ngIf="someoneIsTyping">
         <div class="spinner-border spinner-border-sm" role="status"></div>
         {{ typingUser }} is typing
      </div>
       <nb-chat-form (send)="sendMessage($event)" (onInputChange)="chatformInputChange($event)"></nb-chat-form>
    </div>

    
   </div>

  