<nb-layout center>
    <nb-layout-column>
      <h1 class=" fs-1 fw-bold mb-5">💬Chatroom</h1>
      <p class="  tagline fs-2 fw-bold">Where Every Message Connects</p>
      <p class=" fs-5 text-hint primary-100 mb-5">Instantly connect and collaborate in a vibrant community space where every message brings people closer.</p>
      <button class="" nbButton hero status="primary">
        <nb-icon icon="corner-down-right"></nb-icon>
        Get Started
      </button>
    </nb-layout-column>
</nb-layout>
  