<nb-layout center>
    <nb-layout-column>
      <h1>💬Chatroom</h1>
      <p class="desc">This Chatroom is a dynamic messaging app designed for seamless communication, enabling users to engage in real-time discussions and connect with a community. It's the perfect tool for fostering communication and collaboration, ensuring that every conversation is a step towards building stronger connections.</p>
      <button nbButton hero status="success">
        <nb-icon icon="corner-down-right"></nb-icon>
        Get Started
      </button>
    </nb-layout-column>
  </nb-layout>
  