<div id="chatsidebar">
    <nb-layout-header>
        <nb-user [name]="username"
                 title="Active"
                 [nbContextMenu]="userActionItems"
                 nbContextMenuTag="user-actions-menu">
        </nb-user>
    </nb-layout-header>

    <nb-tabset fullWidth>
        <nb-tab tabIcon="message-circle" tabTitle="Chats" responsive>
            <app-chatlist />
        </nb-tab>
        <nb-tab tabIcon="people" tabTitle="Contacts" responsive>
            <app-chat-contacts />
        </nb-tab>
    </nb-tabset>
</div>