<div id="chatsidebar">
    <nb-layout-header>
        <div class="row align-items-center" [nbContextMenu]="userActionItems" id="user-profile-btn"
        nbContextMenuTag="user-actions-menu">
            <div class="col-auto">
                <app-avatar [width]="40" [height]="40" [src]="loadDisplayPicture()" />
            </div>
            <div class="col ps-0" style="overflow: hidden;">
                <div class="fw-bold display-name">{{username}}</div>
                <p class="mb-0 ">Active</p>
            </div>
        </div>
    </nb-layout-header>

    <nb-tabset fullWidth>
        <nb-tab tabIcon=""  responsive>
            <ng-template nbTabTitle>
                <span id="chats_tab_title"><nb-icon icon="message-circle"></nb-icon> Chats</span>
            </ng-template>
            <app-chatlist />
        </nb-tab>
        <nb-tab responsive id="contacts_tab">
            <ng-template nbTabTitle>
                <span id="contacts_tab_title"><nb-icon icon="people"></nb-icon> Contacts</span>
            </ng-template>
            <app-chat-contacts />
        </nb-tab>
    </nb-tabset>


    <app-confirmation-dialog 
        #changePasswordDialog 
        message="We will send a password reset link to your email. Do you want to continue?"  
        title="Reset Password"
        status="primary"
        (onContinue)="sendPasswordResetLink()" />
</div>