/* 
  NEBULAR UI 
*/
@forward '../node_modules/@nebular/theme/styles/theming';
@use '../node_modules/@nebular/theme/styles/theming' as *;
@use '../node_modules/@nebular/theme/styles/themes/default';
@use '../node_modules/@nebular/theme/styles/themes/dark';


$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    header-shadow: none,
    input-basic-background-color: background-basic-color-1,
    input-basic-border-color: background-basic-color-1
  ),
  dark,
  dark
);
/* 
  END OF NEBULAR UI
*/


/* 
  PRIMENG
*/
.p-skeleton {
  background-color: nb-theme(background-basic-color-1);
  border-radius: 4px;
}

/* 
  END OF PRIMENG
*/