


/* 
  NEBULAR UI CUSTOMIZATIONS
*/
@forward '../node_modules/@nebular/theme/styles/theming';
@use '../node_modules/@nebular/theme/styles/theming' as *;
@use '../node_modules/@nebular/theme/styles/themes/default';
@use '../node_modules/@nebular/theme/styles/themes/dark';


$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    header-shadow: none,
    input-basic-background-color: background-basic-color-1,
    input-basic-border-color: background-basic-color-1
  ),
  dark,
  dark
);


/* 
  NbChat customizations
*/
nb-chat{
  box-shadow: none;
  background-color: nb-theme(background-basic-color-4);
  border: none;

  nb-chat-message{
    margin-bottom: 0px;
  }

  .scrollable{

    &::-webkit-scrollbar{
      width: 8px !important;
    }
    &::-webkit-scrollbar-track {
        background: nb-theme(background-basic-color-4) !important; 
    }
    &::-webkit-scrollbar-thumb {
        background: nb-theme(background-basic-color-1) !important; 
        border-radius: 5px !important;
    }
  }

  .header{
      display: none !important;
  }
}


/* 
  END OF NEBULAR UI
*/


/* 
  PRIMENG
*/
.p-skeleton {
  background-color: nb-theme(background-basic-color-1);
  border-radius: 4px;
}
.p-menu-list{
  padding: 0rem;
  margin: 0rem;
}
.p-menu.p-menu-overlay{
  background: nb-theme(background-basic-color-1);
  border: none;
  a {
    text-decoration: none;
  }
}
/* 
  END OF PRIMENG
*/