
<!-- 
    This conponent should be  used inside an nb-list-item
 -->
<div class="row align-items-center">
    <div class="col-auto pe-0">
        <app-avatar src="https://api.dicebear.com/8.x/identicon/svg?seed={{user.displayName}}&radius=50&backgroundColor=ffdfbf,ffd5dc,d1d4f9,c0aede,b6e3f4" />
    </div>
    <div class="col pe-0 name-container">
        <p class="mb-0" >{{ user.displayName }}</p>
        <p class="mb-0 username">&#64;{{ user.username }}</p>
    </div>
    <button class="col-auto" nbButton ghost  (click)="menu.toggle($event)">
        <nb-icon icon="more-horizontal"></nb-icon>
    </button>

    <p-menu #menu [popup]="true" [model]="contactInfo ? contactOptions : userOptions" />
</div>
<!-- 
    Dont put any elements outside the div
 -->