<nb-layout>
    <nb-layout-column>
        <div class="container">
            <div class="content">
                <h3 class="text-center fs-3">404 Page Not Found</h3>
                <p class="fs-6 text-center">We can't find the page you're looking for. It might have been moved or deleted. </p>
                <button [routerLink]="['/']" class="d-block mx-auto" nbButton  status="primary">
                    <nb-icon icon="home"></nb-icon>
                    Go Home
                </button>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>