<button nbButton ghost shape="semi-round" id="chat-settings-button" (click)="open()">
    <nb-icon icon="settings"></nb-icon>
</button>

<ng-template #chatSettingsRef>
    <div class="chat-settings-card">
        <div class="close-button">
            <button nbButton ghost size="small" id="close-button" (click)="close()">
                <nb-icon icon="close"></nb-icon>
            </button>
        </div>
        <input type="file" #file placeholder="Choose an image" accept="image/*" (change)="onFileChange($event)" style="display: none;">
        <app-avatar [width]="100" [height]="100" [src]="loadDisplayPicture()" (click)="this.rightToMakeChanges ? file.click() : ''" />
        <form [formGroup]="chatForm">
            <h6 *ngIf="chat?.chatTypeId === 1 || !this.rightToMakeChanges">{{ chat?.chatTypeId == 2 ? chat?.chatName : getReceiver()?.displayName }}</h6>
            <div *ngIf="chat?.chatTypeId === 2  && this.rightToMakeChanges" class="row form-group">
                <div class="col">
                </div>
                <div class="col-6">
                    <input class="text-center" nbInput fullWidth shape="semi-round" id="chat-name" formControlName="chatName"  placeholder="Group name">
                </div>
                <div class="col">
                    <button [disabled]="!chatForm.valid" nbButton ghost status="success" id="update-chat-button" (click)="updateChat()"><nb-icon icon="checkmark-circle-outline"></nb-icon></button>
                </div>
            </div>
        </form>

        <div class="action-buttons">
            <nb-list *ngIf="chat?.chatTypeId == 2">
                <nb-list-item id="members-button" (click)="showMembersDialog()">
                    <nb-icon icon="people" class="me-2"></nb-icon>
                    {{members.length}} Members
                </nb-list-item>
                <nb-list-item id="leave-chat-button" (click)="confirmLeaveChat()">
                    <nb-icon icon="log-out" class="me-2"></nb-icon>
                    Leave Chat
                </nb-list-item>
            </nb-list>

            <nb-list>
                <nb-list-item id="delete-chat-button" class="delete-chat-item" (click)="confirmDeleteChat()" *ngIf="chat!.chatTypeId == 1 || (chat!.chatTypeId == 2 && isAdmin())">
                    <nb-icon icon="trash-2" class="me-2"></nb-icon>
                    Delete Chat
                </nb-list-item>
            </nb-list>
        </div>
    </div>
</ng-template>


<app-confirmation-dialog 
    #deleteChatDialogComponent
    title="Delete Chat"
    status="danger"
    message="Are you sure you want to delete this whole conversation?"
    (onContinue)="deleteChat()" />

<app-confirmation-dialog 
    #leaveChatDialogComponent
    title="Leave Chat"
    status="danger"
    message="Are you sure you want to leave this conversation?"
    (onContinue)="leaveChat()" />

<app-chat-members #chatMembersRef [chat]="chat!" />
