<button nbButton ghost shape="semi-round" (click)="open()">
    <nb-icon icon="settings"></nb-icon>
</button>

<ng-template #chatSettingsRef>
    <div class="chat-settings-card">
        <div class="close-button">
            <button nbButton ghost size="small" (click)="close()">
                <nb-icon icon="close"></nb-icon>
            </button>
        </div>
        <app-avatar [src]="loadDisplayPicture()" [width]="100" [height]="100" />
        <h6>{{ chat?.chatTypeId == 2 ? chat?.chatName : getReceiver()?.displayName }}</h6>
        <div class="action-buttons">
            <nb-list *ngIf="chat?.chatTypeId == 2">
                <nb-list-item (click)="showMembersDialog()">
                    <nb-icon icon="people" class="me-2"></nb-icon>
                    144 Members
                </nb-list-item>
                <nb-list-item (click)="confirmLeaveChat()">
                    <nb-icon icon="log-out" class="me-2"></nb-icon>
                    Leave Chat
                </nb-list-item>
            </nb-list>

            <nb-list>
                <nb-list-item class="delete-chat-item" (click)="confirmDeleteChat()">
                    <nb-icon icon="trash-2" class="me-2"></nb-icon>
                    Delete Chat
                </nb-list-item>
            </nb-list>
        </div>
    </div>
</ng-template>


<app-confirmation-dialog 
    #deleteChatDialogComponent
    title="Delete Chat"
    status="danger"
    message="Are you sure you want to delete this whole conversation?"
    (onContinue)="deleteChat()" />

<app-confirmation-dialog 
    #leaveChatDialogComponent
    title="Leave Chat"
    status="danger"
    message="Are you sure you want to leave this conversation?"
    (onContinue)="leaveChat()" />

<app-chat-members #chatMembersRef [chat]="chat!" />
