<nb-layout>
    <nb-layout-column>
        <app-brand-name />
        <form [formGroup]="signUpForm" (submit)="signUpForm_Submit()">
            <nb-card status="basic" [nbSpinner]="signUpLoading">
                <nb-card-header>
                    <nb-icon icon="person"></nb-icon>
                    Sign Up
                </nb-card-header>
    
                <nb-card-body>
                    <div class="mb-3">
                        <label for="display_name" class="mb-2">Display Name <span class="text-danger">*</span></label>
                        <input id="display_name" placeholder="Enter Display Name" name="displayName" formControlName="displayName" nbInput fullWidth />
                        <ul>
                            <li class="text-danger" *ngIf="displayName?.touched && displayName?.hasError('required')">Display Name is required.</li>
                            <li class="text-danger" *ngIf="displayName?.touched && displayName?.hasError('maxlength')">Max number of characters for Display Name is 50.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="mb-2">Username <span class="text-danger">*</span></label>
                        <input id="username" placeholder="Enter Username" name="username" formControlName="username" nbInput fullWidth  />
                        <ul>
                            <li class="text-danger"*ngIf="username?.touched && username?.hasError('required')">Username is required.</li>
                            <li class="text-danger"*ngIf="username?.touched && username?.hasError('maxlength')">Max number of characters for Username is 20.</li>
                            <li class="text-danger"*ngIf="username?.touched && username?.hasError('usernameTaken')">Username is already taken</li>
                            <li class="text-danger"*ngIf="username?.touched && username?.hasError('pattern')">Username must only contain aplha numberic characters.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="mb-2">Email <span class="text-danger">*</span></label>
                        <input id="email" placeholder="Enter Email Address" name="email" formControlName="email" nbInput fullWidth required email />
                        <ul>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('required')">Email is required.</li>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('email')">Email is not valid.</li>
                            <li class="text-danger" *ngIf="email?.touched && email?.hasError('maxlength')">Max number of characters for Email is 100.</li>
                            <li class="text-danger"*ngIf="email?.touched && email?.hasError('emailTaken')">Email is already taken</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-2">Password <span class="text-danger">*</span></label>
                        <nb-form-field >
                            <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" name="password" formControlName="password" nbInput fullWidth />
                            <button type="button" nbSuffix  nbButton ghost class="d-block me-0 ms-auto" (click)="toggleShowPassword()">
                                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </button>
                        </nb-form-field>
                        <ul>
                            <li class="text-danger" *ngIf="password?.touched && password?.hasError('required')">Password is required.</li>
                            <li class="text-danger" *ngIf="password?.touched && password?.hasError('minlength')">Password must be atleast 8 characters long.</li>
                            <li class="text-danger" *ngIf="passwordConfirmation?.touched && signUpForm.errors?.['passwordMismatch']">Password Confirmation doesnt match</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-2">Password Confirmation <span class="text-danger">*</span></label>
                        <nb-form-field >
                            <input id="password" [type]="showPasswordConfirmation ? 'text' : 'password'" placeholder="Retype the Password" name="passwordConfirmation" formControlName="passwordConfirmation" nbInput fullWidth />
                            <button type="button" nbSuffix  nbButton ghost class="d-block me-0 ms-auto" (click)="toggleShowPasswordConfirmation()">
                                <nb-icon [icon]="showPasswordConfirmation ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </button>
                        </nb-form-field>
                        <ul>
                            <li class="text-danger" *ngIf="passwordConfirmation?.touched && passwordConfirmation?.hasError('required')">Password Confirmation is required.</li>
                            <li class="text-danger" *ngIf="passwordConfirmation?.touched && passwordConfirmation?.hasError('minlength')">Password Confirmation must be atleast 8 characters long.</li>
                        </ul>
                    </div>
                </nb-card-body>
                
                <nb-card-footer>
                    <button type="submit" nbButton class="d-block me-0 ms-auto" [disabled]="signUpForm.invalid" status="primary" fullWidth>
                        <nb-icon icon="save"></nb-icon>
                        Sign Up
                    </button>
                    <br>
                    <button type="button" (click)="gotoSignIn()" nbButton class="d-block me-0 ms-auto" status="basic" outline fullWidth>
                        <nb-icon icon="log-in"></nb-icon>
                        Sign in
                    </button>
                </nb-card-footer>
            </nb-card>
        </form>
    </nb-layout-column>
</nb-layout>