<div id="contactlist" >

    <h6 class="head-title">Contacts</h6>

    <div class="search-container">
        <input nbInput fullWidth status="basic" type="search" placeholder="Search People" (input)="search($event)" />
    </div>

    <div id="loader" *ngIf="loading">
        <ngx-spinner type="ball-pulse" [fullScreen]="false" [showSpinner]="true" size="default" bdColor="rgba(0,0,0,0)">
            <p style="color: white" > Searching... </p>
        </ngx-spinner>
    </div>

    <div class="contacts-list-container">
            <p class="mb-0 people-title">People</p>
            <div *ngIf="!loading" class="user-container col" >
                <nb-list nbInfiniteList>
                    <nb-list-item *ngFor="let user of users" >
                        <app-contact-item [user]="user" />
                    </nb-list-item>
                </nb-list>
                <p class="text-center py-4 opacity-50" *ngIf="users.length < 1">
                    We were unable to find any matching results. Please try broadening your search criteria or use different keywords
                </p>
            </div>
        
            <p class="mb-0 contact-title">Your Contacts</p>
            <div class="col" style="height: 50%;">
                
            </div>
    </div>
</div>