<div id="contactlist" >

    <h6>Contactss</h6>

    <input nbInput fullWidth status="basic" type="text" placeholder="Search People" (change)="search($event)" />

    <div id="loader" *ngIf="loading">
        <ngx-spinner type="ball-pulse" [fullScreen]="false" [showSpinner]="true" size="default" bdColor="rgba(0,0,0,0)">
            <p style="color: white" > Searching... </p>
        </ngx-spinner>
    </div>
    
    <nb-list *ngIf="!loading">
        <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.name" color="gray">
            </nb-user>
        </nb-list-item>
        
        <nb-list-item class="active"  >
            <nb-user name="Active User" color="gray" >
            </nb-user>
            <button nbButton ghost>
                <nb-icon icon="star"></nb-icon>
            </button>
        </nb-list-item>
    </nb-list>
</div>