<div id="chatlist">
    <div class="chat-search-container">
        <input nbInput fullWidth type="text" placeholder="Search Messages" (input)="search($event)" />
        <br/>
        <br/>
        <button nbButton outline shape="round" size="small" fullWidth status="success" (click)="openCreateGCFirstModal()">+ Create Group Chat</button>
    </div>
    
    <nb-list
        nbInfiniteList
        [threshold]="100"
        [throttleTime]="1000"
        (bottomThreshold)="fetchChats()">

        <nb-list-item *ngFor="let chat of chats" (click)="viewChat(chat)">
            <app-chatlist-item [chat]="chat" />
        </nb-list-item>

        <nb-list-item  *ngIf="fetchingChats">
            <app-user-skeleton-placeholder />
            <br>
            <app-user-skeleton-placeholder />
        </nb-list-item>

        <nb-list-item *ngIf="!fetchingChats && chats.length < 1">
            <div class="">
                <p class="text-center opacity-50">No Chats at the moment</p>
            </div>
        </nb-list-item>

    </nb-list>
</div>